.cart {
    background-color: rgb(193, 193, 193);
    overflow-y: scroll;
}
.product-list {
    overflow: hidden;
}

.info {
    width: 100%;
    height: 100px;
    background-color: rgb(153, 0, 156);
}
