.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 3%;
    row-gap: 2em;
}

.product {
    flex-basis: 10%;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}